@charset "utf-8";

// Disable the widescreen breakpoint
$widescreen-enabled: false;

// Disable the fullhd breakpoint
$fullhd-enabled: false;

$body-font-size: 1.25em;

@import "../node_modules/bulma/bulma.sass";

@import "../node_modules/weathericons/sass/weather-icons.scss";

@keyframes simpleFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.quick-fade-in {
  opacity: 0;
  animation: 0.8s cubic-bezier(0, 0, 0.16, 1) 200ms 1 normal forwards running
    simpleFadeIn;
}

@keyframes simpleFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.quick-fade-out {
  opacity: 1;
  animation: 0.8s cubic-bezier(0, 0, 0.16, 1) 150ms 1 normal forwards running
    simpleFadeOut;
}

@keyframes upFade {
  0% {
    opacity: 0;
    transform: translate3d(0px, 30px, 0px);
  }
  10% {
    opacity: 0;
    transform: translate3d(0px, 30px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.up-fade {
  opacity: 0;
  animation: 1.2s cubic-bezier(0, 0, 0.16, 1) 200ms 1 normal forwards running
    upFade;
}

.spin {
  animation: 1.2s linear 0 infinite normal forwards running spinAround;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$staggeramounts: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12);

@each $amount in $staggeramounts {
  .stagger-quick-#{$amount} {
    animation-delay: #{200 + ($amount * 100)}ms;
  }
}

@each $amount in $staggeramounts {
  .stagger-up-#{$amount} {
    animation-delay: #{200 + ($amount * 200)}ms;
  }
}

$spaceamounts: (
  2,
  4,
  8,
  16,
  32,
  64
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
